@import '../../../../styles.scss';

.notification {
    z-index: 2;
    right: 10px;
    bottom: 20px;
    position: fixed;
    color: $white-color;
    padding: 0.5rem 3.5rem;
    border-radius: 0.5rem;
    border: 1px solid $blue-dark-color;
    background-color: $blue-dark-color;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}