<div class="container">
    <h3>Categories</h3>

    <input type="button" value="Add category" class="btn btn__primary btn--floatTopRigth" (click)="addCategory()" title="Add category">

    <div class="container__table">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>apple</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>apple</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
 
<app-modal [title]="'Add category'">
    <form [formGroup]="createCategoryForm">
        <div class="formGroup">
          <input type="text" formControlName="name" id="name" autocomplete="off" placeholder="Name category">
        </div>
        <div class="formBtns">
          <input type="submit" value="Create" (click)="createCategory()" title="Create" class="btn btn__secondary" [disabled]="!createCategoryForm.valid">
        </div>
    </form>
</app-modal>