<div class="container">
    <h3>Categories</h3>

    <input type="button" value="Add category" class="btn btn__primary btn--floatTopRigth" (click)="addCategory()" title="Add category">

    <div class="container__table">
        <table  *ngIf="categories.length !== 0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr  *ngFor="let category of categories">
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                    <td><input type="button" class="btn btn__secondary" value="O" (click)="updateCategory()" title="Update"></td>
                    <td><input type="button" class="btn btn__secondary" value="X" (click)="deleteCategory(category.id)" title="Delete"></td>
                </tr>
            </tbody>
        </table>
        <p *ngIf="categories.length === 0" class="msg msg--error">Not found data</p>
    </div>
</div>
 
<app-modal [title]="'Add category'">
    <form [formGroup]="createCategoryForm">
        <div class="formGroup">
          <input type="text" formControlName="name" id="name" autocomplete="off" placeholder="Name category">
        </div>
        <div class="formBtns">
          <input type="submit" value="Create" (click)="createCategory()" title="Create" class="btn btn__secondary" [disabled]="!createCategoryForm.valid">
        </div>
    </form>
</app-modal>