@import '../../../../styles.scss';

.modal {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 9999;
  position: fixed;
  align-items: center;
  justify-content: center;
  background: rgba(249, 250, 251, 0.9);
  
  &__content {
    padding: 20px;
    max-height: 75%;
    overflow-y: auto;
    position: relative;
    margin-inline: auto;
    border-radius: 0.5rem;
    width: min(80%, 500px);
    border: 1px solid $gray-dark-color;
    background-color: $white-color;

    .header {
      position: relative;
      margin-bottom: 1rem;
      
      span {
        top: 0;
        right: 0;
        cursor: pointer;
        position: absolute;
      }
    }
  }
}
