@import '../../../../styles.scss';

.container {
    width: 100%;
    display: flex;
    align-items: center;
    height: calc(100vh - 70px);
    background-color: $gray-ligth-color;

    &__form {
        margin-inline: auto;
        border-radius: 0.5rem;
        padding: 4rem 2rem 7rem;
        background-color: $white-color;
        width: min(100% - 40px, 400px);
        border: 1px solid $gray-dark-color;
    }

    form {

        .formGroup {
            display: flex;
            flex-direction: column;
            margin-bottom: 0.9rem;

            label {
                margin-bottom: 5px;
                font-size: 0.875rem;
                line-height: 1.25rem;
            }
        }

        .formBtns {
            margin-top: 1rem;
            
            input {
                width: 100%;
            }
        }
    }
}