@import '../../styles.scss';

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    background-color: $gray-ligth-color;

    &__aside {
        padding-block: 1rem;
    }

    &__dashboard {
        margin: 7px;
        padding: 2rem;
        overflow-x: hidden;
        border-radius: 0.6rem;
        min-width: calc(100vw - 250px);
        background-color: $white-color;
        box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px 0 #00000014, 0 9px 28px 8px #0000000d;
    }
}