<div class="container">
    <h3>Products</h3>

    <input type="button" value="Add product" class="btn btn__primary btn--floatTopRigth" (click)="addProduct()" title="Add product">

    <div class="container__table">
        <table *ngIf="products.length !== 0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Value</th>
                    <th>Unit</th>
                    <th>Category</th>
                    <th>Supermarket</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.value }}</td>
                    <td>{{ product.unit }}</td>
                    <td>{{ product.category_id }}</td>
                    <td>{{ product.supermarket_id }}</td>
                    <td><input type="button" class="btn btn__secondary" value="O" (click)="product.id !== undefined && updateProduct(product.id!)" title="Update"></td>
                    <td><input type="button" class="btn btn__secondary" value="X" (click)="deleteProduct(product.id)" title="Delete"></td>
                </tr>
            </tbody>
        </table>
        <p *ngIf="products.length === 0" class="msg msg--error">Not found data</p>
    </div>
</div>

<app-modal [title]="'Product'">
    <form [formGroup]="createProductForm">
        <div class="formGroup">
          <input type="text" formControlName="name" id="name" autocomplete="off" placeholder="Name product">
        </div>
        <div class="formGroup">
          <input type="text" formControlName="price" id="price" autocomplete="off" placeholder="Price product">
        </div>
        <div class="formGroup">
          <input type="text" formControlName="value" id="value" autocomplete="off" placeholder="Value product">
        </div>
        <div class="formGroup">
          <input type="text" formControlName="unit" id="unit" autocomplete="off" placeholder="Unit product">
        </div>
        <div class="formGroup">
          <select formControlName="category" name="category" id="category">
            <option disabled selected value="">Category</option>
            <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
          </select>
        </div>
        <div class="formGroup">
          <select formControlName="supermarket" name="supermarket" id="supermarket">
            <option disabled selected value="">Supermarket</option>
            <option *ngFor="let supermarket of supermarkets" [value]="supermarket.id">{{ supermarket.name }}</option>
          </select>
        </div>
        <div class="formBtns">
          <input type="submit" value="Create" (click)="createProduct()" title="Create" class="btn btn__secondary" [disabled]="!createProductForm.valid">
        </div>
    </form>
</app-modal>