/* You can add global styles to this file, and also import other style files */


// Colors
$black-color: #000;
$white-color: #fff;
$blue-dark-color: #2e54ea;
$gray-dark-color: #6d7280;
$gray-ligth-color: #f9fafb;
$error-color: #FF0000;
$warning-color: #ffd700;
$success-color: #90ee90;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background: $gray-ligth-color; 
}

::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background: $gray-dark-color; 
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    text-transform: uppercase;
}

table {
    width: 100%;
    border-collapse: collapse;

    td, th {
        padding: 8px;
        border: 1px solid #dddddd;
    }
    
    tr:nth-child(even), th {
        background-color: $gray-ligth-color;
    }
}

.btn {
    outline: none;
    cursor: pointer;
    font-weight: 400;
    font-size: .875rem;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;

    &__primary {
        color: $blue-dark-color;
        background-color: $white-color;
        border: 1px solid $blue-dark-color;
    }

    &__secondary {
        color: $white-color;
        background-color: $blue-dark-color;
        border: 1px solid $blue-dark-color;

        &:disabled {
            border-color: rgba(46, 84, 234, 0.5);
            background-color: rgba(46, 84, 234, 0.5);
        }
    }
}

.msg {
    font-size: 0.75rem;
    text-align: center;
    letter-spacing: .05em;
    text-transform: uppercase;

    &--error {
        color: $error-color;
    }
}

input[type="text"], input[type="email"], input[type="password"], select {
    width: 100%;
    height: 35px;
    font-weight: 400;
    padding: 0px 10px;
    font-size: 0.875rem;
    border-radius: 0.5rem;
    border: 1px solid $gray-dark-color;

    &:focus-within, &:active, &:focus, &:focus-visible, &:visited {
        outline: none;
        border-color: $blue-dark-color;
        box-shadow: 0px 0px 4px 0px rgba(46,84,234,1);
    }
}