/* You can add global styles to this file, and also import other style files */


// Colors
$black-color: #000;
$white-color: #fff;
$blue-dark-color: #2e54ea;
$gray-dark-color: #6d7280;
$gray-ligth-color: #f9fafb;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    text-transform: uppercase;
}

table {
    border-collapse: collapse;
    width: 100%;

    td, th {
        border: 1px solid #dddddd;
        padding: 8px;
    }
    
    tr:nth-child(even), th {
        background-color: $gray-ligth-color;
    }
}

.btn {
    border-radius: 0.3rem;
    outline: none;
    font-size: .875rem;
    font-weight: 400;
    padding: 0.4rem 0.9rem;
    cursor: pointer;

    &__primary {
        background-color: $white-color;
        border: 1px solid $blue-dark-color;
        color: $blue-dark-color;
    }

    &__secondary {
        background-color: $blue-dark-color;
        border: 1px solid $blue-dark-color;
        color: $white-color;
    }
}

