.container {
    width: 100%;
    height: 100%;
    position: relative;

    .btn--floatTopRigth {
        position: absolute;
        top: 0;
        right: 0;
    }

    &__table {
        margin-top: 2rem;
        overflow: auto;
    }
}