<div class="container">
    <h3>Supermarkets</h3>

    <input type="button" value="Add supermarket" class="btn btn__primary btn--floatTopRigth" (click)="addSupermarket()" title="Add supermarket">

    <div class="container__table">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>apple</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>apple</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<app-modal [title]="'Add supermarket'">
    <form [formGroup]="createSupermarketForm">
        <div class="formGroup">
          <input type="text" formControlName="name" id="name" autocomplete="off" placeholder="Name supermarket">
        </div>
        <div class="formBtns">
          <input type="submit" value="Create" (click)="createSupermarket()" title="Create" class="btn btn__secondary" [disabled]="!createSupermarketForm.valid">
        </div>
    </form>
</app-modal>