<div class="container">
    <h3>Supermarkets</h3>

    <input type="button" value="Add supermarket" class="btn btn__primary btn--floatTopRigth" (click)="addSupermarket()" title="Add supermarket">

    <div class="container__table">
        <table *ngIf="supermarkets.length !== 0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>UPDATE</th>
                    <th>DELETE</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let supermarket of supermarkets">
                    <td>{{ supermarket.id }}</td>
                    <td>{{ supermarket.name }}</td>
                    <td><input type="button" class="btn btn__secondary" value="O" (click)="editSupermarket(supermarket.id)" title="Update"></td>
                    <td><input type="button" class="btn btn__secondary" value="X" (click)="deleteSupermarket(supermarket.id)" title="Delete"></td>
                </tr>
            </tbody>
        </table>
        <p *ngIf="supermarkets.length === 0" class="msg msg--error">Not found data</p>
    </div>
</div>

<app-modal [title]="'Supermarket'" (close)="closeModal()">
    <form [formGroup]="createSupermarketForm" *ngIf="isNew">
        <div class="formGroup">
          <input type="text" formControlName="name" id="name" autocomplete="off" placeholder="Name new supermarket">
        </div>
        <div class="formBtns">
          <input type="submit" value="Create" (click)="createSupermarket()" title="Create" class="btn btn__secondary" [disabled]="!createSupermarketForm.valid">
        </div>
    </form>
    <form [formGroup]="updateSupermarketForm" *ngIf="isUpdate">
        <div class="formGroup">
            <input type="text" formControlName="name" id="name" autocomplete="off" placeholder="Name supermarket">
          </div>
          <div class="formBtns">
            <input type="submit" value="Update" (click)="updateSupermarket()" title="Update" class="btn btn__secondary">
          </div>
    </form>
</app-modal>