@import '../../../../styles.scss';

.container__menu {
    height: 100%;
    width: 100%;
    padding: 0 0.5rem;
    padding-left: 30px;
    position: relative;

    div:first-child {
        height: calc(100% - 68px);

        .menu--section {
            font-size: .75rem;
            margin-inline: 5px;
            letter-spacing: .05em;
            color: $gray-dark-color;
            text-transform: uppercase;
        }

        li {
            gap: 8px;
            display: flex;
            cursor: pointer;
            margin: 14px 0px;
            font-size: .895rem;
            flex-direction: row;
            align-items: center;
            color: $gray-dark-color;

            :hover {
                color: $black-color;
            }
        }
    }

    div:last-child {
        top: auto;
        bottom: 1.5rem;
        height: 68px;
        display: flex;
        list-style: none;
        position: absolute;
        flex-direction: column;

        li {
            gap: 8px;
            display: flex;
            cursor: pointer;
            margin: 8px 0px;
            font-size: .75rem;
            align-items: center;
            flex-direction: row;
            letter-spacing: .05em;
            color: $gray-dark-color;
            text-transform: uppercase;

            :hover {
                color: $black-color;
            }
        }
    }

}