<ul class="container__menu">
    <div>
        <p class="menu--section" *ngIf="!isCollapsed">Supermarket</p>
        <li [routerLink]="['.', { outlets: { 'dashboard': ['products'] } }]" title="Products">
            <img src="../../../../assets/icons/products.png" alt="Products">
            <span class="item" *ngIf="!isCollapsed">Products</span>
        </li>
        <li [routerLink]="['.', { outlets: { 'dashboard': ['categories'] } }]" title="Categories">
            <img src="../../../../assets/icons/categories.png" alt="Products">
            <span class="item" *ngIf="!isCollapsed">Categories</span>
        </li>
        <li [routerLink]="['.', { outlets: { 'dashboard': ['supermarkets'] } }]" title="Supermarket">
            <img src="../../../../assets/icons/supermarket.png" alt="Products">
            <span class="item" *ngIf="!isCollapsed">Supermarkets</span>
        </li>
        <li [routerLink]="['.', { outlets: { 'dashboard': ['users'] } }]" title="Supermarket">
            <img src="../../../../assets/icons/supermarket.png" alt="Products">
            <span class="item" *ngIf="!isCollapsed">User</span>
        </li>
    </div>
    <div>
        <li (click)="collpase()" title="Collapse">
            <img src="../../../../assets/icons/collapse.png" alt="Collapse">
            <span *ngIf="!isCollapsed">Collapse</span>
        </li>
        <li (click)="signout()" title="Sign Out">
            <img src="../../../../assets/icons/logout.png" alt="Sign Out">
            <span *ngIf="!isCollapsed">Sign Out</span>
        </li>
    </div>
</ul>