@import '../../../../styles.scss';

.container__menu {
    height: 100%;
    width: 100%;
    position: relative;
    padding: 0 0.5rem;
    padding-left: 30px;

    div:first-child {
        height: calc(100% - 68px);

        .menu--section {
            font-size: .75rem;
            letter-spacing: .05em;
            text-transform: uppercase;
            color: $gray-dark-color;
            margin-inline: 5px;
        }

        li {
            margin: 10px 0px;
            color: $gray-dark-color;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
            font-size: .875rem;

            :hover {
                color: $black-color;
            }
        }
    }

    div:last-child {
        position: absolute;
        top: auto;
        bottom: 0;
        height: 68px;
        display: flex;
        flex-direction: column;
        list-style: none;

        li {
            margin: 5px 0px;
            color: $gray-dark-color;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;
            font-size: .75rem;
            letter-spacing: .05em;
            text-transform: uppercase;

            :hover {
                color: $black-color;
            }
        }
    }

}